* {
    font-family: "DejaVu Sans", ui-monospace, sans-serif;
}

h1, h3, .table-title, .table-highlight, .data-table-section-lead{
    color: #472f92;
}

h1 {
    font-size: 32px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    line-height: 28px;
    letter-spacing: 3px;
}

h2 {
    font-size: 24px;
    color: gray;
    font-weight: 100;
    font-style: italic;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.table-title {
    font-weight: 700;
}

.attribution {
    font-size: 16px;
}

.title-header, .page-header, .data-table, .attribution, .text-content{
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    max-width: 900px;
    min-width: 800px;
}

.page-header {
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}

.small-font {
    font-size: 11px;
}

.text-content {
    font-size: 16px;
}

.two-column {
    column-count: 2;
    column-gap: 30px;

}

.text-content > p {
    line-height: 1.5;
}

.data-table {
    margin-top: 0;
    border: thin solid gray;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    font-size: 13px;
    empty-cells: show;
}

.data-table td {
    padding: 4px;
}

.data-table-head-cell, .data-table-head-cell2, .data-table-cell {
    border: solid thin gray;
}

.data-table-head-cell:first-child, .data-table-head-cell2:first-child, .data-table-cell:first-child {
    border-left: none;
}

.data-table-head-cell:last-child, .data-table-head-cell2:last-child, .data-table-cell:last-child {
    border-right: none;
}

.data-table-head-cell {
    text-align: center;
}

.data-table-head-cell2 {
    vertical-align: bottom;
    text-align: right;
}

.data-table-cell {
    vertical-align: bottom;
    text-align: right;
    border-bottom: none;
    border-top: none;
}

.table-highlight, .data-table-section-lead{
    font-weight: 600;
}

#total-population-label {
    text-indent: -16px;
    text-align: left;
    padding-left: 45px;
    min-width: 135px;
}

.data-table-section-lead {
    text-align: left;
    vertical-align: bottom;
    border: none;
    border-right: solid thin gray;
}

.data-table .data-table-section-lead {
    padding-top: 10px;
}

.data-table-cell:first-child:not(#total-population-label) {
    text-indent: -18px;
    text-align: left;
    padding-left: 36px;
}