{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta http-equiv="content-type"
                content="text/html; charset=utf-8"/>
            <meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
            <title>GEOG 863: Lesson 2</title>
            <link rel="stylesheet" type="text/css" href="{% static 'G863/lesson2.css' %}" />
        </head>
        <body>
            <div class="title-header">
                <h1>Veterans in Rural America: 2011–2015</h1>
                <hr></hr>
                <h2>American Community Survey Reports</h2>
            </div>
            <div class="attribution">
                By Kelly Ann Holder <br />
                January 2017 <br />
                <span class="small-font">ACS-36</span>
            </div>
            <div class="text-content two-column">
                <h3>INTRODUCTION</h3>
                <p>
                    Twenty million veterans live in the United States. They live in every state and in nearly every county across the nation. About 5 million veterans lived in areas desig-nated as rural by the U.S. Census Bureau during the 2011–2015 period. Understanding who rural veterans are and what sets them apart from other veterans, as well as from their rural neighbors, provides the necessary perspective for rural communities, government agencies, veterans’ advocates, and other policymakers interested in directing programs and services to this population.
                </p>
                <p>
                    In general, individuals living in rural areas differ from their urban counterparts in terms of demographic characteristics, social ties, culture, and access to infrastructure and institutional support. Much depends on the geography itself. In some parts of the country, rural residents may face substantial physical barriers to accessing services and amenities, including longer travel times, lack of transportation options, and limited availability of services.
                </p>
                <p>
                    Veterans, regardless of geography, differ from their nonveteran counterparts in a variety of aspects. Military history and enlistment policy changes have influenced the demographic composition of the veteran and nonveteran populations over time.
                </p>
                <p>
                    The U.S. Department of Veterans Affairs (VA) has identified veterans living in rural areas as a population of interest. To help address concerns of veterans’ access to care, Congress established the Office of Rural Health within the VA in 2007. One challenge in these efforts is that most of the data available to the VA come only from rural veterans enrolled in their healthcare system, and not all veterans are enrolled. However, to antici-pate demand for care, as well as to understand what types of services may be requested or utilized, requires data on all rural veterans.
                </p>
                <p>
                    This brief aims to answer the question “Who are rural veterans?” by considering the demographic, social, and economic characteristics of rural veterans compared with both urban veterans as well as with rural nonvet-erans. It also examines rural veterans by the level of rurality of their county of residence to understand some of the impact of geography on their characteristics. The data used in this report are primarily from 2011–2015 American Community Survey (ACS), 5-year estimates. This report presents statistics about veterans and, where applicable, nonveterans 18 years and older living in rural and urban areas of the United States.
                </p>
                <h3>RURAL VETERANS BY REGION AND STATE</h3>
                <p>
                    In the 2011–2015 period, 24.1 percent of the veteran population 18 years and older lived in areas designated as rural. Just under half of all rural veterans lived in the South (45.9 percent) and another 13.7 percent lived in the Northeast (see Table 1). While the Midwest and West may appear to have a larger share of wide-open rural spaces from the view outside an airplane window, the majority of the nation’s rural population, in general, actually lives east of the Mississippi River.
                </p>
            </div>
            <div class="page-header">
                <hr></hr><br />
                Table 1.<br />
                <span class="table-title">Selected Characteristics of Rural Veterans, Urban Veterans, and Rural Nonveterans: 2011–2015</span>&mdash;Con.
            </div>
            <table class="data-table">
                <tr class="data-table-head">
                    <td class="data-table-head-cell" rowspan="2" >Characteristic</td>
                    <td class="data-table-head-cell" colspan="4">Rural veterans</td>
                    <td class="data-table-head-cell" colspan="4">Urban veterans</td>
                    <td class="data-table-head-cell" colspan="4">Rural nonveterans<sup>1</sup></td>
                </tr>
                <tr class="data-table-head">
                    <td class="data-table-head-cell2">Estimate</td>
                    <td class="data-table-head-cell2">Margin of error (&#177;)</td>
                    <td class="data-table-head-cell2">Per- cent</td>
                    <td class="data-table-head-cell2">Margin of error (&#177;)</td>
                    <td class="data-table-head-cell2">Estimate</td>
                    <td class="data-table-head-cell2">Margin of error (&#177;)</td>
                    <td class="data-table-head-cell2">Per- cent</td>
                    <td class="data-table-head-cell2">Margin of error (&#177;)</td>
                    <td class="data-table-head-cell2">Estimate</td>
                    <td class="data-table-head-cell2">Margin of error (&#177;)</td>
                    <td class="data-table-head-cell2">Per- cent</td>
                    <td class="data-table-head-cell2">Margin of error (&#177;)</td>
                </tr>
                <tr>
                    <td class="data-table-cell table-highlight" id="total-population-label">Total civilian population 18 years and over. . .</td>
                    <td class="data-table-cell table-highlight">4,837,124</td>
                    <td class="data-table-cell table-highlight">13,265</td>
                    <td class="data-table-cell table-highlight">100.0</td>
                    <td class="data-table-cell table-highlight">13,265</td>
                    <td class="data-table-cell table-highlight">15,271,208</td>
                    <td class="data-table-cell table-highlight">27,834</td>
                    <td class="data-table-cell table-highlight">100.0</td>
                    <td class="data-table-cell table-highlight">27,834</td>
                    <td class="data-table-cell table-highlight">41,719,613</td>
                    <td class="data-table-cell table-highlight">29,847</td>
                    <td class="data-table-cell table-highlight">100.0</td>
                    <td class="data-table-cell table-highlight">33,445</td>
                </tr>
                <tr>
                    <td class="data-table-section-lead">Region</td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                </tr>
                <tr>
                    <td class="data-table-cell">Northeast. . . . . . . . . . . .</td>
                    <td class="data-table-cell">662,446</td>
                    <td class="data-table-cell">3,679</td>
                    <td class="data-table-cell">13.7</td>
                    <td class="data-table-cell">0.2</td>
                    <td class="data-table-cell">2,321,270</td>
                    <td class="data-table-cell">9,571</td>
                    <td class="data-table-cell">15.2</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">5,909,525</td>
                    <td class="data-table-cell">9,579</td>
                    <td class="data-table-cell">14.2</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-cell">Midwest . . . . . . . . . . . . .</td>
                    <td class="data-table-cell">1,276,782</td>
                    <td class="data-table-cell">5,332</td>
                    <td class="data-table-cell">26.4</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">3,084,868</td>
                    <td class="data-table-cell">10,793</td>
                    <td class="data-table-cell">20.2</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">11,184,632</td>
                    <td class="data-table-cell">12,912</td>
                    <td class="data-table-cell">26.8</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-cell">South . . . . . . . . . . . . . . .</td>
                    <td class="data-table-cell">2,217,990</td>
                    <td class="data-table-cell">10,140</td>
                    <td class="data-table-cell">45.9</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">6,041,862</td>
                    <td class="data-table-cell">16,453</td>
                    <td class="data-table-cell">39.6</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">19,500,884</td>
                    <td class="data-table-cell">22,999</td>
                    <td class="data-table-cell">46.7</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-cell">West. . . . . . . . . . . . . . . .</td>
                    <td class="data-table-cell">679,906</td>
                    <td class="data-table-cell">4,768</td>
                    <td class="data-table-cell">14.1</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">3,823,208</td>
                    <td class="data-table-cell">11,593</td>
                    <td class="data-table-cell">25.0</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">5,124,572</td>
                    <td class="data-table-cell">12,884</td>
                    <td class="data-table-cell">12.3</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-section-lead">Place of Residence&mdash; Level of Rurality</td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                </tr>
                <tr>
                    <td class="data-table-cell">Mostly urban (less than 50 percent rural). . . .</td>
                    <td class="data-table-cell">2,447,703</td>
                    <td class="data-table-cell">9,776</td>
                    <td class="data-table-cell">50.6</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">14,381,673</td>
                    <td class="data-table-cell">31,278</td>
                    <td class="data-table-cell">94.2</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">20,865,140</td>
                    <td class="data-table-cell">25,443</td>
                    <td class="data-table-cell">50.0</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-cell">Mostly rural (50 to 99.9 percent rural) . . . . . .</td>
                    <td class="data-table-cell">1,962,845</td>
                    <td class="data-table-cell">7,574</td>
                    <td class="data-table-cell">40.6</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">889,535</td>
                    <td class="data-table-cell">6,858</td>
                    <td class="data-table-cell">5.8</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">17,124,062</td>
                    <td class="data-table-cell">15,437</td>
                    <td class="data-table-cell">41.0</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-cell">Completely rural (100 percent rural) . . . . . .</td>
                    <td class="data-table-cell">426,576</td>
                    <td class="data-table-cell">3,079</td>
                    <td class="data-table-cell">8.8</td>
                    <td class="data-table-cell">0.2</td>
                    <td class="data-table-cell">X</td>
                    <td class="data-table-cell">X</td>
                    <td class="data-table-cell">X</td>
                    <td class="data-table-cell">X</td>
                    <td class="data-table-cell">3,730,411</td>
                    <td class="data-table-cell">3,647</td>
                    <td class="data-table-cell">8.9</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-section-lead">Metropolitan Area Status</td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                    <td class="data-table-cell"></td>
                </tr>
                <tr>
                    <td class="data-table-cell">Lives in a metro area . .</td>
                    <td class="data-table-cell">2,650,125</td>
                    <td class="data-table-cell">6,967</td>
                    <td class="data-table-cell">54.8</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">13,915,640</td>
                    <td class="data-table-cell">7,759</td>
                    <td class="data-table-cell">91.1</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">22,616,680</td>
                    <td class="data-table-cell">16,710</td>
                    <td class="data-table-cell">54.2</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
                <tr>
                    <td class="data-table-cell">Lives in a nonmetro area. . . . . . . . . . . . . .</td>
                    <td class="data-table-cell">2,186,999</td>
                    <td class="data-table-cell">10,788</td>
                    <td class="data-table-cell">45.2</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">1,355,568</td>
                    <td class="data-table-cell">30,426</td>
                    <td class="data-table-cell">8.9</td>
                    <td class="data-table-cell">0.1</td>
                    <td class="data-table-cell">19,102,933</td>
                    <td class="data-table-cell">25,859</td>
                    <td class="data-table-cell">45.8</td>
                    <td class="data-table-cell">0.1</td>
                </tr>
            </table>
        </body>
    </html>